html {
  height: 100%;
  width: 100%;
  background-color: white;
  font-family: sans-serif
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
}

button {
  background-color: black;
  color: white;
  width: 12%;
  height: 6%;
  text-align: center;
  border-radius: 20px;
  font-size: 18px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #780A0A;
  width: 80%;
  border-radius: 20px;
  margin-left: 10%;
  margin-top: -2.5%;
}

li {
  float: left;
  background-color: black;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 24%;
  width: 14%;
  border-radius: 50px;
}

li a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 14px 16px;
}

li a:hover {
  background-color: #111;
  border-radius: 50px;
}

.texto {
  width: 80%;
  margin-left: 8%;
  border: 1px solid black;
  padding: 2%;
  margin-top: 10%;
  text-align: center;
}

.logo {

  width: 100%;
  height: 30%;
  background-color: #1C2321;
}

h1 {
  text-align: center;
  font-size: 90px;
  margin: 0;
  padding: 2%;
  color: white;
}

h2 {
  text-align: center;
  font-size: 70px;
  margin: 0;
  padding: 2%;
}

.abc {
  text-align: center;
}

.imge {
  margin-left: 38%;
  width: 25%;
  height: 25%;
}